In [75]:
import pandas as pd
import numpy as np
pol = pd.read_csv('Covid_stats_Jan2025.csv', encoding='ISO-8859-1')

print(pol.head())

  Country,Other   TotalCases  NewCases TotalDeaths  NewDeaths TotalRecovered  \
0           USA  111,820,082       NaN   1,219,487        NaN    109,814,428
1         India   45,035,393       NaN     533,570        NaN            NaN
2        France   40,138,560       NaN     167,642        NaN     39,970,918
3       Germany   38,828,995       NaN     183,027        NaN     38,240,600
4        Brazil   38,743,918       NaN     711,380        NaN     36,249,161

   NewRecovered ActiveCases Serious,Critical TotÿCases/1M pop  ...  \
0           NaN     786,167              940          333,985  ...
1           NaN         NaN              NaN           32,016  ...
2           NaN           0              NaN          612,013  ...
3           NaN     405,368              NaN          462,891  ...
4           NaN   1,783,377              NaN          179,908  ...

      TotalTests Tests/\n1M pop     Population      Continent  \
0  1,186,851,502      3,544,901    334,805,269  North America
1    935,879,495        665,334  1,406,631,776           Asia
2    271,490,188      4,139,547     65,584,518         Europe
3    122,332,384      1,458,359     83,883,596         Europe
4     63,776,166        296,146    215,353,593  South America

  1 Caseevery X ppl 1 Deathevery X ppl 1 Testevery X ppl  New Cases/1M pop  \
0                 3                275               0.0               NaN
1                31              2,636               2.0               NaN
2                 2                391               0.0               NaN
3                 2                458               1.0               NaN
4                 6                303               3.0               NaN

   New Deaths/1M pop  Active Cases/1M pop
0                NaN                2,348
1                NaN                  0.4
2                NaN                  NaN
3                NaN                4,833
4                NaN                8,281

[5 rows x 21 columns]

In [76]:
df = pol.drop(columns=['New Cases/1M pop','New Deaths/1M pop', 'NewCases','NewDeaths', 'NewRecovered'])

In [79]:
df['TotalRecovered'] = pd.to_numeric(df['TotalRecovered'].astype(str).replace(',', '', regex = True), errors = 'coerce')
df['TotalCases'] = pd.to_numeric(df['TotalCases'].astype(str).replace(',', '', regex = True), errors = 'coerce')

valid_recovery = df.dropna(subset=['TotalCases', 'TotalRecovered'])
mean = (valid_recovery['TotalRecovered']/valid_recovery['TotalCases']).mean()

In [80]:
df.head()
df['mean_recovery_rate'] = (valid_recovery['TotalRecovered']/valid_recovery['TotalCases'])*100

In [81]:
print("before ", df['TotalRecovered'].isna().sum())
df.head()

before  48

,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÿCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,Active Cases/1M pop,mean_recovery_rate
0,USA,111820082,"1,219,487",109814428.0,"786,167",940,"333,985","3,642","1,186,851,502","3,544,901","334,805,269",North America,3,275,0.0,"2,348",98.206356
1,India,45035393,"533,570",NaN,NaN,NaN,"32,016",379,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2.0,0.4,NaN
2,France,40138560,"167,642",39970918.0,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518",Europe,2,391,0.0,NaN,99.582342
3,Germany,38828995,"183,027",38240600.0,"405,368",NaN,"462,891","2,182","122,332,384","1,458,359","83,883,596",Europe,2,458,1.0,"4,833",98.484650
4,Brazil,38743918,"711,380",36249161.0,"1,783,377",NaN,"179,908","3,303","63,776,166","296,146","215,353,593",South America,6,303,3.0,"8,281",93.560907

In [82]:
#filling of total recovered with mean precentage repective to population
df.loc[df['TotalRecovered'].isna(), 'TotalRecovered'] = df.loc[df['TotalRecovered'].isna(), 'TotalCases'] * mean/100
df.head()

,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÿCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,Active Cases/1M pop,mean_recovery_rate
0,USA,111820082,"1,219,487",1.098144e+08,"786,167",940,"333,985","3,642","1,186,851,502","3,544,901","334,805,269",North America,3,275,0.0,"2,348",98.206356
1,India,45035393,"533,570",4.149882e+05,NaN,NaN,"32,016",379,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2.0,0.4,NaN
2,France,40138560,"167,642",3.997092e+07,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518",Europe,2,391,0.0,NaN,99.582342
3,Germany,38828995,"183,027",3.824060e+07,"405,368",NaN,"462,891","2,182","122,332,384","1,458,359","83,883,596",Europe,2,458,1.0,"4,833",98.484650
4,Brazil,38743918,"711,380",3.624916e+07,"1,783,377",NaN,"179,908","3,303","63,776,166","296,146","215,353,593",South America,6,303,3.0,"8,281",93.560907

In [86]:

# filling null values in TotalDeath to 0
df.loc['TotalDeaths'] = pd.to_numeric(df['TotalDeaths'].astype(str).replace(',', '', regex = True), errors = 'coerce')
df['TotalDeaths'] = df['TotalDeaths'].fillna(0)
df.head()

,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÿCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,Active Cases/1M pop,mean_recovery_rate
0,USA,111820082.0,"1,219,487",1.098144e+08,"786,167",940,"333,985","3,642","1,186,851,502","3,544,901","334,805,269",North America,3,275,0.0,"2,348",98.206356
1,India,45035393.0,"533,570",4.149882e+05,NaN,NaN,"32,016",379,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2.0,0.4,NaN
2,France,40138560.0,"167,642",3.997092e+07,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518",Europe,2,391,0.0,NaN,99.582342
3,Germany,38828995.0,"183,027",3.824060e+07,"405,368",NaN,"462,891","2,182","122,332,384","1,458,359","83,883,596",Europe,2,458,1.0,"4,833",98.484650
4,Brazil,38743918.0,"711,380",3.624916e+07,"1,783,377",NaN,"179,908","3,303","63,776,166","296,146","215,353,593",South America,6,303,3.0,"8,281",93.560907

In [92]:
#filling of active cases
df['ActiveCases'] = pd.to_numeric(df['ActiveCases'].astype(str).replace(',', '', regex = True), errors = 'coerce')
df['TotalDeaths'] = pd.to_numeric(df['TotalDeaths'].astype(str).replace(',', '', regex = True), errors = 'coerce')
df['TotalRecovered'] = pd.to_numeric(df['TotalRecovered'].astype(str).replace(',', '', regex = True), errors = 'coerce')
mask = df['ActiveCases'].isna()
df.loc[mask, 'ActiveCases']  = df['TotalCases'] - df['TotalRecovered'] - df['TotalDeaths'] 
df.head()

,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÿCases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,Active Cases/1M pop,mean_recovery_rate
0,USA,111820082.0,1219487.0,1.098144e+08,7.861670e+05,940,"333,985","3,642","1,186,851,502","3,544,901","334,805,269",North America,3,275,0.0,"2,348",98.206356
1,India,45035393.0,533570.0,4.149882e+05,4.408683e+07,NaN,"32,016",379,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2.0,0.4,NaN
2,France,40138560.0,167642.0,3.997092e+07,0.000000e+00,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518",Europe,2,391,0.0,NaN,99.582342
3,Germany,38828995.0,183027.0,3.824060e+07,4.053680e+05,NaN,"462,891","2,182","122,332,384","1,458,359","83,883,596",Europe,2,458,1.0,"4,833",98.484650
4,Brazil,38743918.0,711380.0,3.624916e+07,1.783377e+06,NaN,"179,908","3,303","63,776,166","296,146","215,353,593",South America,6,303,3.0,"8,281",93.560907

In [93]:
#filling total tests
df['TotalTests'] = pd.to_numeric(df['TotalTests'].astype(str).replace(',', '', regex = True), errors = 'coerce')

df['ratioOfInfection'] = df['TotalTests'] / df['TotalCases']

In [94]:
meanInfection = df['ratioOfInfection'].mean()

In [95]:
df['TotalTests'] = df['TotalTests'].fillna(df['TotalCases'] * meanInfection )

In [96]:
#dropping irrelevant columns
df = df.drop(columns=[ 'TotÿCases/1M pop', 'Deaths/1M pop', '1 Caseevery X ppl', '1 Deathevery X ppl', 'ratioOfInfection' ])

In [97]:
#filling population
df['Population'] = pd.to_numeric(df['Population'].astype(str).replace(',', '', regex = True), errors = 'coerce')
df['ratioForPopulation'] = df['Population'] / df['TotalCases']

In [98]:
meanRatioForPopulation = df['ratioForPopulation'].mean()

In [99]:
df.loc[df['Population'].isna(), 'Population'] = df.loc[df['Population'].isna(), 'Population'].fillna(df['TotalCases'] * meanRatioForPopulation)
df.head()

,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotalTests,Tests/\n1M pop,Population,Continent,1 Testevery X ppl,Active Cases/1M pop,mean_recovery_rate,ratioForPopulation
0,USA,111820082.0,1219487.0,1.098144e+08,7.861670e+05,940,1.186852e+09,"3,544,901",3.348053e+08,North America,0.0,"2,348",98.206356,2.994143
1,India,45035393.0,533570.0,4.149882e+05,4.408683e+07,NaN,9.358795e+08,"665,334",1.406632e+09,Asia,2.0,0.4,NaN,31.233918
2,France,40138560.0,167642.0,3.997092e+07,0.000000e+00,NaN,2.714902e+08,"4,139,547",6.558452e+07,Europe,0.0,NaN,99.582342,1.633953
3,Germany,38828995.0,183027.0,3.824060e+07,4.053680e+05,NaN,1.223324e+08,"1,458,359",8.388360e+07,Europe,1.0,"4,833",98.484650,2.160334
4,Brazil,38743918.0,711380.0,3.624916e+07,1.783377e+06,NaN,6.377617e+07,"296,146",2.153536e+08,South America,3.0,"8,281",93.560907,5.558384

In [100]:
df = df.drop(columns=[ 'ratioForPopulation', 'Serious,Critical', 'Tests/\n1M pop', '1 Testevery X ppl', 'ratioForPopulation', 'mean_recovery_rate', 'Active Cases/1M pop'])
df.isnull().sum()

Country,Other     1
TotalCases        1
TotalDeaths       0
TotalRecovered    1
ActiveCases       1
TotalTests        1
Population        1
Continent         4
dtype: int64

In [101]:
df.to_csv('cleanedCovidData.csv', index=False)